img{
    width:40%;
}
ul li{
    list-style-type: none;
}

#showCake{
    display: inline-block;
    overflow: scroll;
    width:40%;
    height:400px;
    border: groove navy 2px;
    vertical-align: top;
    margin :1%;
}

#createCake{
    display: inline-block;
    width:40%;
    border: ridge orange 2px;
    vertical-align: top;
    margin: 1%;
}
#cmt{
    vertical-align: top;
    display: inline-block;
    width:30%;
    border: greenyellow 2px solid;;
}